.pet-preview-image {
    width: 350px;
    height: 300px;
}


.view_all_animals {
    width: 300px;
    height: 250px;
}

.list-animals{
    width: 300px;
    height: 250px;
}

.comment-image {
    width: 300px;
    height: 250px;
}

.post_detail_found {
    width: 300px;
    height: 250px;
}