
body {
    letter-spacing: 0;
    background-color: #f8f8f8;
    width: 100%;
}

.header {
    box-sizing:border-box;
    width: 100%;
}

.logo-container {
    background: #fff;
    padding: 7px 12px;
    position: relative;
    z-index: 1;
}

.secondary-header {
    width: 100%;
    padding: 0;
    border: none;
    position: relative;
    background-color: #014863 ;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%), 0 3px 3px -2px rgb(0 0 0 / 12%), 0 3px 4px 0 rgb(0 0 0 / 14%);
}

.second-header-center {
    max-width: 1440px;
    margin: auto;
}

.secondary-header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    padding: 6px 24px;
}

.secondary-header h1 {
    font-size: 18px;
    margin: 0;
    text-transform: capitalize;
    color: #fff;
    padding-right: 50px;
    padding-left: 40px;
}

.vertical-divider {
    border-top: 0;
    border-right-width: 1px;
    border-right-style: solid;
    height: 60px;
    border-color: #fff;
}

.dashboard-link{
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    color: #fff;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 20px;
    cursor: pointer;
}

.logout-link {
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.main-body {
    box-sizing: border-box;
    height: 75%;
    width: 100%;
}

.footer {
    margin: 0;
    padding-bottom: 1rem;
    padding-left: 16px;
    padding-right: 12px;
    padding-top: 1rem;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    bottom: 0px;
}

.logo-container-footer {
    display: flex;
    margin-bottom: 0;
    text-align: left;
}

.bottom-links {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: block;
    font-size: 12px;
    font-weight: 500px;   
}



/* cards for dashboard */

.card-body1 {  
  margin: 0px;  
  height: 100vh;
  display: grid;
  place-items: center;
}

.card-groups, .card-group1, .card {
  aspect-ratio: 5 / 7;
}

.card-groups, .card-group1, .big-card {  
  width: 30vmin;
}

.card-group1 {
  position: absolute;
  transition: transform 400ms ease;
}

.card {
  position: absolute;
  transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
  background-position: center;
  background-size: cover;
}

.big-card {
  border-radius: 1vmin;
}

.little-card {
  width: 12vmin;
  border-radius: 2vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

.big-card:nth-child(2) {
    background-image: url("/site_images/rob_animals/rp2.JPEG");
    transform: translateX(-10%) rotate(-1deg);
  }
  
  .big-card:nth-child(4) {
    background-image: url("/site_images/rob_animals/rp3.JPEG");
    transform: rotate(2deg);
  }
  
  .big-card:nth-child(6) {
    background-image: url("/site_images/rob_animals/rp1.JPEG");
    transform: translateX(-6%) rotate(-3deg);
  }
  
  .big-card:nth-child(8) {
    background-image: url("/site_images/rob_animals/rp4.JPEG");
    transform: translate(10%, 3%) rotate(5deg);
  }
  
  .little-card:nth-child(1) {
    background-image: url("/site_images/rob_animals/rp5.JPEG");

  }
  
  .little-card:nth-child(3) {
    background-image: url("/site_images/rob_animals/rp6.JPEG");
  }
  
  .little-card:nth-child(5) {
    background-image: url("/site_images/rob_animals/rp7.JPEG");
  }
  
  .little-card:nth-child(7) {
    background-image: url("/site_images/rob_animals/rp9.JPEG");
  }


.card-group:hover > .card {  
  box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
}

.card-group:hover > .big-card:nth-child(2) {
  transform: translate(-75%, 16%) rotate(-24deg);
}

.card-group:hover > .big-card:nth-child(4) {
  transform: translate(-25%, 8%) rotate(-8deg);
}

.card-group:hover > .big-card:nth-child(6) {
  transform: translate(25%, 8%) rotate(8deg);
}

.card-group:hover > .big-card:nth-child(8) {
  transform: translate(75%, 16%) rotate(24deg);
}

.card-group:hover > .little-card:nth-child(1) {
  transform: translate(200%, -160%) rotate(-15deg);
}

.card-group:hover > .little-card:nth-child(3) {
  transform: translate(160%, 170%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(5) {
  transform: translate(-200%, -170%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(7) {
  transform: translate(-280%, 140%) rotate(-15deg);
}


/* end cards for dashboard */