<div class="footer">
    <div class="secondary-header2">
        <div class="bottom-links"> ABOUT US GOES HERE </div>
        <img src="/styles_images/lflogo.png" class="logo-footer">
    </div>
</div>

<!--
 <iframe> 
        src="https://www.google.ca/maps/place/Dallas,+TX,+USA"
        
        &amp;output=embed"
        width="300" 
        height="250" 
        frameborder="0" 
        scrolling="no">
    </iframe>
-->