<div class="header">
    <div class="secondary-header">
            <div class="logo-header"><img src="/styles_images/lflogo.png" class="logo-header"></div>
            <div class="secondary-header2">
                <h1>Let's reunite your family</h1>
                <mat-divider role="separator" vertical class="vertical-divider"></mat-divider>
                <div class="dashboard-link" onclick="window.location.href='/dashboard'">Dashboard</div>
                <div class = "dashboard-link view-posts" onclick="window.location.href='/my_posts/:{{userId}}'">View My Posts</div>    
            </div>
            <div class="make-right"></div>
    </div>
    <div class="top-bar-buttons">
        <div class="lost-button">
        <button type="button" class="link-buttons" role="button" onclick="window.location.href='/lost-animals'">
            <div>Lost Animals</div>
        </button>
        </div>
        <div class="found-button">
        <button type="button" class="link-buttons" role="button" onclick="window.location.href='/found-posts'">
                <div>Found Animals</div>
        </button>
        </div>
    </div>
</div>