  <div class="header">
        <div class="logo-container">LOGO GOES HERE
        </div>
        <div class="secondary-header">
            <div class="second-header-center">
                <div class="secondary-header">
                    <h1>Welcome, {{username}}</h1>
                    <mat-divider role="separator" vertical class="vertical-divider"></mat-divider>
                    <div class="dashboard-link" onclick="window.location.href='http://localhost:3000/dashboard'">Dashboard</div>
                    <div class="logout-link"><a class="logout-link" href="/logout">Log Out</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-body">