<div class="reg-footer">
    <div class="secondary-header2">
        <div class="bottom-links"> ABOUT US GOES HERE </div>
        <img src="/styles_images/lflogo.png" class="logo-footer">
    </div>
</div>