<html>
  <head>
    <link rel ="stylesheet" href="/css/lostPage.css"></link>
  </head>
  <body>


        <h1>Lost Comments</h1>
        <hr>
      
        <button onclick = "window.location.href='http://localhost:3000/lost-animals'">Back</button> 



        <form method = "POST" action = "/add-comments">
                    <h2>Please, let any information or your comment regarding a lost soul:</h2>
                    <input type = "text" placeHolder = "any detail" name = "description" />
                    <input type = "hidden"  name = "id" value = "{{id}}"/>
                    <button>Submit</button>
        </form>
  <body>

</html>

