<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Name of site?!?</title>
    <link rel="icon" type="image/x-icon" href="images/ghost-logo-black-background.jpg"/>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="header">
        <div class="logo-container">LOGO GOES HERE
        </div>
        <div class="secondary-header">
            <div class="second-header-center">
                <div class="secondary-header">
                    <h1>Welcome to our site {{username}}!</h1>
                    <mat-divider role="separator" vertical class="vertical-divider"></mat-divider>
                    <div class="dashboard-link" onclick="window.location.href='http://localhost:3000/dashboard'">Dashboard</div>
                    <div class="logout-link"><a class="logout-link" href="/logout">Log Out</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-body">



        <h1>Welcome to NOW!</h1>


<button type="button" class="simple" onclick="window.location.href='http://localhost:3000/lost_posts'">Simple</button>

<button type="button" class="fill" onclick="window.location.href='http://localhost:3000/found_posts'">Fill</button>

<button type="button" class="slide">
  <div>Slide</div>
  <i class="icon-arrow-right"></i>
</button>
        <button onclick="window.location.href='http://localhost:3000/lost_posts'">Go to lost posts</button>
        <button onclick="window.location.href='http://localhost:3000/found_posts'">Go to found posts</button>

    




    </div>
    <div class="footer">
        <div class="logo-container-footer">LOGO GOES HERE
        </div>
        <div class="bottom-links"> ABOUT US GOES HERE
        </div>
    </div>
</body>
</html>