<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
</head>
<body>
  {{> menu}}



        <h1>Homepage Dashboard Yay</h1>


        <button onclick="window.location.href='http://localhost:3000/lost-animals'">Go to lost posts</button>
        <button onclick="window.location.href='http://localhost:3000/found-posts'">Go to found posts</button>


<button onclick = "window.location.href='http://localhost:3000/my_posts/:{{userId}}'">my post</button>





    
    {{> footer}}
</body>
</html>
