<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}

    <link rel="stylesheet" href="css/login.css">
</head>
<body>
{{> menu}}
<br>   

    <h1 class = "Found">Found Pets 🐾 </h1><hr>
    

<br><div><button class="button" onclick="window.location.href='http://localhost:3000/add_found_post'">Found a pet!</button></div><br>

               
      
    <ul style="list-style: none;">
    {{#result}}
        <li><h3>A {{species}} named {{name}}.</h3>
        <ul style="list-style: none;">
            <li>Breed: {{breed}}</li>
            <li>Color: {{color}}</li>
            <li>Size: {{size}}</li>
            <li>Age: {{age}}</li>
            <li>Found on {{dateFound}}</li>
            <li>Description: {{description}}</li>
            <img src = "/uploads/{{pet_pic}}" class="uploaded-pic"/>
        </ul>
            <h4>Comments</h4>
            <ol>
                {{#comment}}
                    <li>
                        {{body}}
                    </li>
                {{/comment}}
            </ol> 
            <hr>
            <form method="POST" action = "/comments">  
            <textarea type="text" placeholder = "add a comment..." name ="comment" cols="31" rows="3"></textarea>
            <input type = "hidden" name=id value={{id}} /> 
            <br><button class="button">Add a comment for {{name}}</button>
            </form>      
            <hr> 
        {{/result}}
    </ul><br><br><br>





          {{> footer}}
    </body>
   
</html>