
<html>

    <head>
    
    </head>
    <body>
       
         <h1>Found Pets</h1>
         <form method="POST" action="/">
            <input type="text" placeholder="species" name="species" />    
            <input type="text" placeholder="color" name="color" /> 
            <input type="text" placeholder="breed" name="breed" />
            <input type="text" placeholder="gender" name="gender" />
            <input type="text" placeholder="name" name="name" />
            <input type="text" placeholder="size" name="size" />
            <input type="text" placeholder="age" name="age" />
            <input type="text" placeholder="location" name="location" />
            <input type="text" placeholder="description" name="description" />
            <input type="text" placeholder="picture" name="picture" />
            <input type="text" placeholder=date_found name="date_found" />
            <butto>Save</button>

 
        </form>
    </body>
</html>