<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}

</head>
<body>
{{> menu}}
<br>     

    <h1 class = "Found">{{username}}'s Lost Pets 🐾 </h1><hr>

<ol>
{{#myPostsLost}}
    <li><h3>A {{species}} named {{name}} !</h3>
        <ul>
            <li>Breed: {{breed}}</li>
            <li>Color: {{color}}</li>
            <li>Size: {{size}}</li>
            <li>Age: {{age}}</li>
            <li>Found on {{dateFound}}</li>
            <li>Description: {{description}}</li>
            <img src = "/uploads/{{pet_pic}}" class="uploaded-pic"/>
        </ul>
        <form method="POST" action = "/delete-MyLostPost">
            <input type = "hidden" name = "id" value={{id}} /> 
            <button>Delete post</button>
        </form>
        <ol>
            <h2>Comments</h2>
            <li>{{#comment}}
                <p>{{body}}</p>
                <form method='POST' action='/deleteMyLostComment/{{id}}'>
                <button>Delete comment</button>
            {{/comment}}</li>
        </ol>
    </li>
{{/myPostsLost}}
</ol>
<br><hr><br>

<h1 class = "Found">{{username}}'s Found Pets 🐾 </h1><hr>
<ol>
{{#myPostsFound}}
    <li><h3>A {{species}} named {{name}} !</h3>
        <ul>
            <li>Breed: {{breed}}</li>
            <li>Color: {{color}}</li>
            <li>Size: {{size}}</li>
            <li>Age: {{age}}</li>
            <li>Found on {{dateFound}}</li>
            <li>Description: {{description}}</li>
            <li><img src = "/uploads/{{pet_pic}}" /></li>
        </ul>
        <form method="POST" action = "/delete-MyFoundPost">
                        <input type = "hidden" name = "id" value={{id}} /> 
                        <button>Delete post</button>
                    </form>
                    <ol>
                        <h4>Comments</h4>
                        <li>{{#comment}}
                            <p>{{body}}</p>
                            <p>{{body}}</p> 
                            <form method='POST' action='/deleteMyFoundComment/{{id}}'>
                            <button>Delete comment</button>
                        {{/comment}}</li>
                    </ol>
    </li>
{{/myPostsFound}}
</ol>
<br><br><br><br>
  {{> footer}}
    </body>
   
</html>
