<h1>REGISTRATION PAGE</h1>

                                                               
<form method="POST" action="/register">
    <input type="text" placeHolder="Enter username" name="username" />
    <input type="password" placeholder="Enter password" name="password" />
    <button>Submit</button>
</form>