<h1>REGISTRATION PAGE</h1>

                                                               
<form method="POST" action="/register">
    <input type="text" placeHolder="Enter first name" name="firstName" />
    <input type="text" placeHolder="Enter last name" name="lastName" />
    <input type="text" placeHolder="Enter email" name="email" />
    <input type="text" placeHolder="Enter phone number" name="phoneNumber" />
    <input type="text" placeHolder="Enter zip code" name="zipCode" />
    <input type="text" placeHolder="Enter username" name="username" />
    <input type="password" placeholder="Enter password" name="password" />
    <button>Submit</button>
</form>
{{errorMessage}}


<button onclick="window.location.href='http://localhost:3000/login'">Go to login</button>